<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link " href="/patients">Patients</a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN, ROLE_DOCTOR')" class="nav-item nav-link" href="/doctors">Doctors</a>
            <a sec:authorize="hasAnyRole('ROLE_ADMIN')" class="nav-item nav-link active" href="/blacklist">Black list</a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown my-2 my-lg-0">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome, <span th:text="${#authentication.name}" ></span>

                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<h2>All doctors</h2>

<div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert">
</div>

<table class="table table-responsive" style="padding-top: 30px">

    <th>
    <td>ID</td>
    <td>Personal ID</td>
    <td>Reason</td>
    <td>Edit</td>
    <td>Delete</td>
    </th>

    <tr th:each="blacklist : ${blacklist}">
        <td></td>
        <td th:text="${blacklist.id}"/>
        <td th:text="${blacklist.personalId}"/>
        <td th:text="${blacklist.reason}"/>
        <td>
            <form th:action="@{'/blacklist/edit/' + ${blacklist.id}}">
                <input type="submit" value="Edit" class="btn btn-info"/>
            </form>
        </td>
        <td>
            <form th:action="@{'/blacklist/' + ${blacklist.id}}" th:method="delete">
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </form>
        </td>
    </tr>
</table>


<form action="/blacklist/new">
    <input type="submit" value="Create new BlackList"/>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>