<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h2>Create new patient</h2>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert">
    </div>
    <div class="row">
        <div class="col col-lg-3">
            <form method="post" th:action="@{/patients/new}" th:object="${patient}">
                <div class="form-group">
                    <label for="fname">First name:</label><br>
                    <input class="form-control" type="text" id="fname" th:field="*{firstName}">
                    <small class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    </small>
                </div>
                <div class="form-group">
                    <label for="lname">Last name:</label><br>
                    <input class="form-control" id="lname" th:field="*{lastName}">
                    <small class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                    </small>
                </div>

                <div class="form-group">
                    <label for="lemail">Email:</label><br>
                    <input class="form-control" id="lemail" th:field="*{email}">
                    <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    </small>
                </div>

                <div class="form-group">
                    <label for="lpersonalId">Personal id:</label><br>
                    <input class="form-control" id="lpersonalId" th:field="*{personalId}">
                    <small class="text-danger" th:if="${#fields.hasErrors('personalId')}" th:errors="*{personalId}">
                    </small>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>