<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Registration</title>
</head>
<body>

<div class="container-fluid">
    <h2>Register new Patient</h2>

    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger" role="alert">
    </div>

    <div class="row">
        <div class="col col-lg-3">
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered to our awesome app!</div>
            </div>
            <form th:action="@{/registration}" th:object="${patient}" method="post">
                <div class="form-group">
                    <label for="lemail">Email:</label><br>
                    <input class="form-control" id="lemail" th:field="*{email}">
                    <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    </small>
                </div>


                <div class="form-group">
                    <label for="lpassword">Password:</label><br>
                    <input type="password" class="form-control" id="lpassword" th:field="*{password}">
                    <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    </small>
                </div>


                <div class="form-group">
                    <label for="lconfirmPassword">Confirm password:</label><br>
                    <input type="password" class="form-control" id="lconfirmPassword" th:field="*{confirmPassword}">
                    <small class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
                    </small>
                </div>

                <div class="form-group">
                    <label for="fname">First name:</label><br>
                    <input class="form-control" type="text" id="fname" th:field="*{firstName}">
                    <small class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                    </small>
                </div>
                <div class="form-group">
                    <label for="lname">Last name:</label><br>
                    <input class="form-control" id="lname" th:field="*{lastName}">
                    <small class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                    </small>
                </div>

                <div class="form-group">
                    <label for="lpersonalId">Personal id:</label><br>
                    <input class="form-control" id="lpersonalId" th:field="*{personalId}">
                    <small class="text-danger" th:if="${#fields.hasErrors('personalId')}" th:errors="*{personalId}">
                    </small>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login
        here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>